// sizes
$height-card: 100vh;
$height-card-half: 50vh;
$height-nav-full: 62px;
$height-nav-mobile: 56px;
$border-radius: 6px;

// animation speeds
$transition-speed: .1s;

// colors
$color-white-0: #ffffff;
$color-white-1: #f5f7ef;

$color-black-0: #000000;

$color-text-shadow: rgba(0,0,0,.2);

$color-green-0: #08AC1C;
$color-green-1: #4DCB5D;
$color-green-2: #29BF3B;
$color-green-3: #008B11;
$color-green-4: #006B0D;

$color-purple-0: #581095;
$color-purple-1: #844CB4;
$color-purple-2: #6E2DA6;
$color-purple-3: #440878;
$color-purple-4: #34055D;

$color-yellow-0: #DED50A;
$color-yellow-1: #FFF861;
$color-yellow-2: #F6ED35;
$color-yellow-3: #B3AB00;
$color-yellow-4: #8A8400;

$color-red-0: #DE140A;
$color-red-1: #FF6961;
$color-red-2: #F63F35;
$color-red-3: #B30900;
$color-red-4: #8A0700;

$button-shadow-yellow-light: #deff57;
$button-shadow-yellow-dark: #cec50a;
$button-shadow-green-light: #37c348;
$button-shadow-green-dark: #0d921d;
$button-shadow-white-light: #f5f7ef;
$button-shadow-white-dark: #e8e8e8;