@import "./variables.scss";
// fonts
@font-face {
  src: url("../assets/fonts/BebasNeue-Light.ttf");
  font-family: "bebas-light";
}
@font-face {
  src: url("../assets/fonts/BebasNeue-Regular.ttf");
  font-family: "bebas";
}

@font-face {
  src: url("../assets/fonts/OperatorMonoLig-Medium.otf");
  font-family: "mono";
}
.bebas {
  font-family: "bebas", sans-serif;
}
.bebas-light {
  font-family: "bebas-light", sans-serif;
}
.mono {
  font-family: "Mono", monospace;
}
// helpers
.hide-on-mobile {
  @media screen and (max-device-width: 715px) {
    display: none;
  }
}
// colors
.text-black {
  color: $color-black-0 !important
}
.text-yellow {
  color: $color-yellow-0 !important
}
.yellow {
  background: $color-yellow-0 !important;
}
.red {
  background: $color-red-0 !important;
}
.red-lighten {
  background: $color-red-2 !important;
}
.purple {
  background: $color-purple-0 !important;
}
.green {
  background: $color-green-0 !important;
}
.white {
  background: $color-white-1 !important;
}
// set body and html presets
* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
// placeholder
::placeholder {
  font-family: Mono;
  color: $color-white-1
}
// remove scrollbar
::-webkit-scrollbar {
  width: 0 !important
}

// brand/logo
.branded {
  position: relative;
  .brand {
    display: inherit;
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 200px;
    @media screen and (max-device-width: 600px) {
      max-width: 150px;
    }
    .logo {
      position: relative;
      width: 100%;
    }
  }
}
// forms
form {
  .flex-outer,
  .flex-inner {
    list-style-type: none;
    padding: 0;
    color: $color-white-1;
    font-size: 1.4rem;
  }
  .flex-outer {
    max-width: 800px;
    margin: 0 auto;
    li input,
    li textarea {
      padding: 15px;
      color: $color-white-1;
      font-family: Mono;
      font-size: 1.2rem;
      background: none;
      border-style: solid;
      border-color: $color-white-1;
      border-width: 0 0 3px 0;
      &:focus {
        outline: none;
      }
    }
    li {
      p {
        margin: 0;
      }
    }
  }

  .flex-outer li,
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: Mono;
  }

  .flex-inner {
    padding: 0 8px;
    justify-content: space-between;
    li {
      width: 100px;
    }
  }

  .flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
  }

  .flex-outer li label,
  .flex-outer li p {
    padding: 8px;
    letter-spacing: .09em;
  }

  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
  }

  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 220px;
  }

  .flex-outer li button {
    margin-left: auto;
    border: none;
    background: $color-purple-0;
    letter-spacing: .09em;
  }
}
// anchors
a {
  text-decoration: none;
  color: $color-purple-0;
}
// buttons
button, .btn {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1.5rem;
  box-shadow: 2px 2px 8px rgba(0,0,0,.5);
  background: white;
  transition: $transition-speed;
  &:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 12px rgba(0,0,0,.6);
  }
  &:focus {
    outline: none;
  }
  &#top-btn {
    background: $color-yellow-4;
    position: absolute;
    opacity: 1;
    transform: scale(1);
    right: 10px;
    bottom: 10px;
    transition: $transition-speed;
    &.scale-out {
      transform: scale(0);
      opacity: 0;
    }
  }
}
// cards
.card {
  font-family: Mono;
  width: 100%;
  min-height: $height-card;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &.short {
    height: $height-card-half;
    min-height: $height-card-half;
  }
  @media only screen and (min-width: 715px) {
    height: $height-card;
    &.short {
      height: $height-card-half;
      min-height: $height-card-half;
    }
  }
  &.about {
    background: $color-white-1;
  }
  &.contact {
    background: $color-white-0;
  }
}
.half-card {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50%;
  min-height: $height-card-half;
  font-family: Mono;
}
@media only screen and (min-width: 715px) {
  .half-card {
    width: 50%;
    height: 100%;
  }
}
// iframe
iframe {
  width: 100%;
  height: 100%;
  min-height: $height-card-half;
  border: none;
}
// container
.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  .form {
    margin: 20px auto;
  }
}
.portfolio-container {
  width: 100%;
  height: 100%;
  min-height: $height-card-half;
}
.text-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  &.branded {
    padding-top: 62px;
  }
  .underscore {
    width: 20%;
    height: 0.3rem;
    background: black;
    &.dark {
      background: $color-white-0
    }
  }
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.5rem;
  }
  @media only screen and
  (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    p {
      font-size: 20px;
    }
  }
  .icon-large {
    display: inline-block;
    font-size: 4rem;
    margin: 30px 25px;
    color: $color-black-0;
    transition: $transition-speed;
    &:hover {
      transform: scale(1.05);
      text-shadow: 3px 2px 8px $color-text-shadow;
    }
    &:visited {
      color: $color-red-3
    }
  }
}
.portfolio-divider {
  height: 5vh;
  width: 100%;
  color: $color-white-0;
}
// alignment
.right-align {
  justify-content: flex-end !important;
}
.center-align {
  justify-content: center !important;
}
.right-align {
  justify-content: flex-start !important;
}
.top-align {
  align-items: flex-start !important;
}
.row {
  flex-direction: row;
}
// text
.dark {
  color: $color-white-0;
}
// weather-pill
.weather-pill {
  display: inline-flex;
  position: absolute;
  padding: 5px 15px;
  top: 0;
  margin-top: 3%;
  left: 0;
  background: $color-purple-3 !important;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  font-size: 5vw;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, .5);
}
@media screen and (min-width: 751px) {
  .weather-pill {
     font-size: 28px;
  }
}